@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    font-family: 'Secular One', sans-serif;
}

body {
    background: linear-gradient(-45deg, #6A67CE, #947EC3, #B689C0, #EEF3D2);
    position: relative;
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


header {
    padding: 2%;
    width: 140vh;
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #353063;
    color: white;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
}

.round {
    text-align: center;
    padding: 10px;

}

.round input {
    width: 40px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: none;
}


.scoreboard {
    border: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;

    background-color: rgb(156, 166, 255);

}

.scoreboard p {
    font-size: 25px;
    font-weight: 600;
    width: 10%;
    text-align: center;
}

.scoreboard input {
    width: 40px;
    height: 20px;
    border: none;
    font-size: 25px;
    /*background-color: rgb(255, 204, 145);*/
    background-color: rgb(156, 166, 255);
}


.divider {
    font-size: 10em;
    margin: 0.2em;
    color: black;
}


.scoreboard .scoreboard-you,
.scoreboard .scoreboard-machine {
    width: 40%;
}

.game {
    display: flex;
    justify-content: space-around;
    margin-right: 15%;
    margin-left: 15%;


}

.game #you-choice,
.game #machine-choice {
    /*background-color: #353063b0;*/
    background-color: #353063b0;
    padding-top: 5em;
    width: 20%;

}

.game-screen {
    padding: 15px;
    background-color: #353063;
    border-radius: 5px;
}

main {
    padding-left: 10%;
    padding-right: 10%;
    height: 90vh;
    width: 130vh;
    margin: 0 auto;
}

.rps-options {
    margin-top: 35px;
    height: 20vh;
    justify-content: space-around;
    border-top: 4px solid black;
    padding-top: 15px;
}

.rps-options>div {
    border: 2px solid black;
    border-radius: 5%;

    height: 20vh;
    width: 20vh;

    background-color: #353063;
    font-weight: 600;
    font-size: 1.8em;
    color: white;
}

.rps-options>div:hover {
    background-color: #524a94;
    cursor: pointer;
}

.rps-options,
.game,
.scoreboard,
footer {
    display: flex;
}

.image-machine,
.image-person {
    display: block;
    margin-top: 5em;
}

.modal {
    background-color: white;
    width: 60vh;
    max-width: 100%;
    height: 30vh;

    border-radius: 5px;

    padding: 2em;
    text-align: center;
}

p.modal-text {
    text-align: justify;
}

button#close-modal {
    width: 15vh;
    height: 5vh;

    background-color: rgb(118, 186, 153, 1);
    border: none;
    cursor: pointer;

    margin-top: 80px;
    box-shadow: 0 2px 4px rgb(118, 186, 153, 1);
}

button#close-modal:hover {
    background-color: rgb(118, 186, 153, 0.5);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: rgb(95, 86, 173, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;

}

.show {
    opacity: 1;
    pointer-events: auto;
}

.victory-title {
    color: rgb(118, 186, 153, 1);
}

.defeat-title {
    color: #EB5353;
}

footer {
    justify-content: center;
}

footer a {
    margin: 15px;
}